<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
	<title>Admin Page</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" th:href="@{/bootstrap.min.css}" href="../static/bootstrap.min.css" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  	<style>  		
  	</style>
</head>
<body>
	<div th:each="product : ${all_products}">
		<form action="#"  th:action="@{/admin/remove/product/{product_id}(product_id = ${product.id})}" method="post">
			<table class="table">
			<thead>
				<tr>
					<th>Product Name:</th>
					<th>Product Description</th>
					<th>Product Goal</th>
					<th>Current Raised</th>
					<th>End Date:</th>
					<th>Remove Product:</th>
				</tr>
			</thead>
			<tr>
				<th th:text="${product.productName}"></th>
				<th th:text="${product.productDescription}"></th>
				<th th:text="${product.productGoal}"></th>
				<th th:text="${product.currentRaised}"></th>
				<th th:text="${#dates.format(product.end_date, 'dd-MM-yyyy')}"></th>
				<th><input type="submit" class="btn btn-danger" th:value="Remove"></input></th>
			</tr>
			</table>
		</form>
	</div>
</body>
</html>