<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">

<head>
	<title>Index</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" th:href="@{/bootstrap.min.css}" href="../static/bootstrap.min.css" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  	
  	<style>
  		#donate_button{
  			margin-top: 3%;
  		}
  		
  		li{
  			list-style:none
  		}
  	</style>
</head>

<body style="background-color: #f4f2f2">
 
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/product/all">Home</a>
    </div>

    
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right" th:each="user : ${user}">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My Profile<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a th:href="@{/user/profile/} + ${user.getId()}">View Profile</a></li>
            <li><a th:href="@{/user/products/} + ${user.getId()}">My Products</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  </nav> 
	  <div class="container-fluid" >
	  	<div class="row">
	  		<div class="col-md-6">	
				<table class = "table">
					<tr th:each="product : ${product}">
						<tr>
							<th>Product Name:</th>
							<td th:text="${product.productName}"></td>
						</tr>
						<tr>
							<th>Product Description:</th>
							<td th:text="${product.productDescription}"></td>
						</tr>
						<tr>
							<th>Product Goal:</th>
							<td th:text="${product.productGoal}"></td>
						</tr>
						<tr>
							<th>Current Raised:</th>
							<td th:text="${product.getCurrentRasied()}"></td>
						</tr>
						<tr>
							<th>End Date:</th>
							<td th:text="${#dates.format(product.end_date, 'dd-MM-yyyy')}"></td>
						</tr>
					</tr>
				</table>
				<ul>
					<li th:each="product : ${product}">
						<form action="#" th:action="@{/donate}" th:object="pledge">
							<ul>
								<li>
									<h4>Donate:</h4>
									<input type="number" min="1"/>
								</li>
								<li id="donate_button">
									<a type="submit" class="btn btn-success" th:text="Donate" id="donate"></a>
								</li>
							</ul>
						</form>
					</li>
				</ul>
			</div>
			
	 		<div class="col-md-6">			
	  			<div class="embed-resposive embed-resposive-16by9">
					<iframe class = "embed-responsive-item" width = "500" height = "315" src="${product.getYoutube_url()}"></iframe>
	  			</div>
		  	</div>
		
		</div>
	</div>
	</body>
</html>