<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Index</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div class="container">
		<table class="table">
		<thead>
			<tr>
				<th>Product ID:</th>
				<th>Product Name:</th>
				<th>Product Description</th>
				<th>Product Goal</th>
				<th>Current Raised</th>
				<th>Harvey Says:</th>
			</tr>
		</thead>
			<tr th:each="product : ${product}">
				<tr>
					<th th:text="${product.getId()}"></th>
					<th th:text="${product.getProductName()}"></th>
					<th th:text="${product.getProductDescription()}"></th>
					<th th:text="${product.getProductGoal()}"></th>
					<th th:text="${product.getCurrentRasied()}"></th>
					<th><a th:href="@{/product/} + ${product.getId()}" class="btn btn-success"><span th:text="${product.getProductName()}"></span></a></th>
				</tr>		
			</tr>
		</table>
	</div>
	
 </body>
</html>